#productos_fondo
    width: 100%
    position: relative
#productos_fondo_imagen
    width: 100%
#productos_fondo::after 
    content: ""
    width: 100%
    height: 300px
    position: absolute
    left: 0
    bottom: 0
    background-image: linear-gradient(to bottom, transparent, #E3E6E6)
#productos_fondo:hover
    cursor: pointer


#productos_fondo_flechaCarruselIzquierda
    width: 25px
    height: 40px

#productos_fondo_flechaCarruselDerecha
    width: 25px
    height: 40px

.productos_carrusel_bordeFlechaCarrusel1
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    border-radius: 4px
    width: 75px
    height: 246px
    left: 2px
    top: 2px

.productos_carrusel_bordeFlechaCarrusel1:focus-within
    border: solid 2px #008296
    outline: solid 2px white

.productos_carrusel_bordeFlechaCarrusel2
    display: flex
    align-items: center
    justify-content: center
    z-index: 1
    position: absolute
    border-radius: 4px
    width: 75px
    height: 246px
    left: 1272px
    top: 2px

.productos_carrusel_bordeFlechaCarrusel2:focus-within
    border: solid 2px #008296
    outline: solid 2px white