@mixin orientacion_cajas($display: null, $direccion: null, $justificar: null, $alinear: null, $gridColumnas: null, $place: null, $gap: null, $margen: null, $relleno: null)
    display: $display //1//
    flex-direction: $direccion //2//
    justify-content: $justificar //3//
    align-items: $alinear //4//
    grid-template-columns: $gridColumnas //5//
    place-content: $place //6//
    gap: $gap //7//
    margin: $margen //8//
    padding: $relleno //9//