* {
  box-sizing: border-box;
  top: 0;
  margin: 0px;
  font-size: 10px;
  text-decoration: none;
  font-family: arial;
}

body {
  background-color: #E3E6E6;
  overflow-x: hidden;
}

#nav {
  display: flex;
}
#nav_superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background-color: #121921;
  color: white;
  height: 60px;
}
#nav_superior_izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#nav_superior_izquierda_logo {
  width: 100px;
  height: 50px;
}
#nav_superior_izquierda_logo:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_superior_izquierda_envios {
  width: 105px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
#nav_superior_izquierda_envios_punteroDeMapa {
  padding-top: 8px;
}
#nav_superior_izquierda_envios_textos_p1 {
  color: #cccccc;
  font-size: 1.13rem;
}
#nav_superior_izquierda_envios_textos_p2 {
  font-weight: bold;
  font-size: 1.5rem;
}
#nav_superior_izquierda_envios:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_superior_centro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6px 0px 0px 0px;
  width: 661px;
  height: 40px;
  position: relative;
}
#nav_superior_centro_selectorDeCategorias {
  display: flex;
}
#nav_superior_centro_selectorDeCategorias_lista {
  position: absolute;
  color: #555555;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 65px;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  font-size: 1.2rem;
  padding: 4px 0px 0px 10px;
}
#nav_superior_centro_selectorDeCategorias_lista > option {
  background-color: #e9e9ed;
  font-size: 1.4rem;
}
#nav_superior_centro_selectorDeCategorias_lista:hover {
  cursor: pointer;
  background-color: #DADADA;
}
#nav_superior_centro_selectorDeCategorias_lista:focus {
  outline: 3px solid #FF9900;
}
#nav_superior_centro_selectorDeCategorias_flechaDesplegar {
  position: absolute;
  color: #666666;
  top: 10px;
  left: 43px;
  font-size: 2rem;
}
#nav_superior_centro_selectorDeCategorias:hover {
  cursor: pointer;
}
#nav_superior_centro_busqueda {
  border: none;
  outline: none;
  border-radius: 4px 4px 4px 4px;
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  padding-left: 80px;
}
#nav_superior_centro_busqueda:focus-within {
  outline: solid 3px #FF9900;
  border-radius: 5px 5px 5px 5px;
}
#nav_superior_centro_lupa {
  position: absolute;
  width: 61;
  left: 620px;
  background-color: #FEBD69;
  padding: 7px 8px 8px 8px;
  border-radius: 0px 4px 4px 0px;
}
#nav_superior_centro_lupa:hover {
  cursor: pointer;
  background-color: #f3a847;
}
#nav_superior_centro_lupa:focus {
  outline: 3px solid #FF9900;
  background-color: #f3a847;
}
#nav_superior_derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#nav_superior_derecha_pais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  width: 71px;
  height: 50px;
}
#nav_superior_derecha_pais_lenguaje {
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 3px;
}
#nav_superior_derecha_pais_flechaDesplegar {
  width: 8px;
  height: 4px;
  margin-top: 9px;
}
#nav_superior_derecha_pais:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_superior_derecha_cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  padding: 0px 0px 0px 0px;
}
#nav_superior_derecha_cuenta_textos {
  display: flex;
  flex-direction: column;
}
#nav_superior_derecha_cuenta_textos_p1 {
  font-size: 1.2rem;
}
#nav_superior_derecha_cuenta_textos_p2 {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_superior_derecha_cuenta_flechaDesplegar {
  width: 8px;
  height: 4px;
  margin: 9px 0px 0px 3px;
}
#nav_superior_derecha_cuenta:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_superior_derecha_pedidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
}
#nav_superior_derecha_pedidos_p1 {
  font-size: 1.2rem;
}
#nav_superior_derecha_pedidos_p2 {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_superior_derecha_pedidos:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_superior_derecha_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
}
#nav_superior_derecha_carrito_contador {
  color: #F08804;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 25px;
}
#nav_superior_derecha_carrito_identificador {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
}
#nav_superior_derecha_carrito:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 40px;
  background-color: #232f3f;
  color: white;
}
#nav_inferior_izquierda {
  display: flex;
  align-items: center;
  gap: 1px;
}
#nav_inferior_izquierda_todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 37px;
}
#nav_inferior_izquierda_todo_menu {
  width: 25px;
  height: 28px;
}
#nav_inferior_izquierda_todo_identificador {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_inferior_izquierda_todo:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_ofertas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 37px;
}
#nav_inferior_izquierda_ofertas_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_ofertas:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_servicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 131px;
  height: 37px;
}
#nav_inferior_izquierda_servicio_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_servicio:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_listas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 37px;
}
#nav_inferior_izquierda_listas_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_listas:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 37px;
}
#nav_inferior_izquierda_tarjetas_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_tarjetas:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_vender {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 37px;
}
#nav_inferior_izquierda_vender_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_vender:hover {
  outline: solid 1px white;
  cursor: pointer;
}
#nav_inferior_derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 30px;
}
#nav_inferior_derecha_identificador {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_inferior_derecha:hover {
  outline: solid 1px white;
  cursor: pointer;
}

#productos_fondo {
  display: flex;
  position: relative;
}

#productos_fondo_imagen {
  width: 1366px;
}

#productos_fondo_rotacion {
  display: flex;
  animation: animacionTransicionAutomatica 16.8s linear infinite;
}

#productos_fondo::after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, #E3E6E6);
}

#productos_fondo:hover {
  cursor: pointer;
}

@keyframes animacionTransicionAutomatica {
  0% {
    transform: translate(0%, 0px);
  }
  24% {
    transform: translate(0%, 0px);
  }
  25.2% {
    transform: translate(-1366px, 0px);
  }
  49.2% {
    transform: translate(-1366px, 0px);
  }
  50.4% {
    transform: translate(-2732px, 0px);
  }
  74.4% {
    transform: translate(-2732px, 0px);
  }
  75.6% {
    transform: translate(-4098px, 0px);
  }
  100% {
    transform: translate(-4098px, 0px);
  }
}
#productos_fondo_flechaCarruselIzquierda {
  width: 25px;
  height: 40px;
}

#productos_fondo_flechaCarruselDerecha {
  width: 25px;
  height: 40px;
}

.productos_carrusel_bordeFlechaCarrusel1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  width: 75px;
  height: 246px;
  left: 2px;
  top: 100px;
}

.productos_carrusel_bordeFlechaCarrusel1:focus-within {
  border: solid 2px #008296;
  outline: solid 2px white;
}

.productos_carrusel_bordeFlechaCarrusel2 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  border-radius: 4px;
  width: 75px;
  height: 246px;
  left: 1272px;
  top: 100px;
}

.productos_carrusel_bordeFlechaCarrusel2:focus-within {
  border: solid 2px #008296;
  outline: solid 2px white;
}

#productos_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 350px 0px 0px 0px;
  padding: 0px 20px 20px 20px;
  position: absolute;
  width: 100%;
}
#productos_grid .productos_grid_articulo {
  display: flex;
  justify-content: space between;
  padding: 20px;
  width: 312px;
  height: 420px;
  background-color: white;
}
#productos_grid .productos_grid_articulo_titulo {
  font-size: 1.8rem;
  font-weight: bold;
}
#productos_grid_articulo1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#productos_grid_articulo1_boton {
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  background-color: #FFD814;
  padding: 8px 20px 8px 20px;
}
#productos_grid_articulo1_boton:hover {
  cursor: pointer;
  background-color: #F7CA00;
}
#productos_grid_articulo2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#productos_grid_articulo2_contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#productos_grid_articulo2_contenido_imagenytexto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#productos_grid_articulo2_contenido_imagenytexto_imagen {
  width: 130px;
  height: 102px;
}
#productos_grid_articulo2_contenido_imagenytexto_p {
  font-size: 1.2rem;
}
#productos_grid_articulo2_contenido_imagenytexto:hover {
  cursor: pointer;
}
#productos_grid_articulo2_foot {
  padding-top: 20px;
  color: #007185;
  font-size: 1.3rem;
}
#productos_grid_articulo2_foot:hover {
  color: #C7511F;
  text-decoration: underline;
  cursor: pointer;
}
#productos_grid_articulo3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
#productos_grid_articulo3_contenido_imagenytexto_imagen {
  width: 272.25px;
  height: 276.4px;
}
#productos_grid_articulo3_contenido_imagenytexto:hover {
  cursor: pointer;
}

#identificacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1020px 0px 0px 0px;
  width: 100%;
  height: 166px;
  background-color: #fff;
}
#identificacion_contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 126px;
  width: 100%;
  border: solid 1px #DDDDDD;
  border-radius: 5px;
}
#identificacion_contenedor_p1 {
  font-size: 1.3rem;
}
#identificacion_contenedor_boton {
  cursor: pointer;
  border: solid 1px #ECB01C;
  border-radius: 5px;
  outline: none;
  font-size: 1.3rem;
  background: linear-gradient(to bottom, #FFD774 30%, #FFC636 70%);
  padding: 5px 80px 5px 80px;
  font-weight: bold;
}
#identificacion_contenedor_p2 {
  font-size: 1.1rem;
}
#identificacion_contenedor_span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #348E9D;
}
#identificacion_contenedor_span:hover {
  color: #D2734B;
  cursor: pointer;
}

#pieDePagina {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#pieDePagina_inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  width: 100%;
  height: 50px;
  background-color: #37475A;
}
#pieDePagina_inicio_p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
#pieDePagina_inicio:hover {
  background-color: #485769;
  cursor: pointer;
}
#pieDePagina_acercaDe {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #232F3E;
}
#pieDePagina_acercaDe_columnas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 40px 100px 60px 190px;
  border-bottom: solid 1px #3A4553;
  width: 100%;
}
#pieDePagina_acercaDe_columnas_columna {
  display: flex;
  flex-direction: column;
}
#pieDePagina_acercaDe_columnas_columna_titulo {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
#pieDePagina_acercaDe_columnas_columna_elementos {
  padding: 10px 0px 0px 0px;
}
#pieDePagina_acercaDe_columnas_columna_elementos_texto {
  padding-top: 10px;
  color: #BDBFC2;
  font-size: 1.4rem;
}
#pieDePagina_acercaDe_columnas_columna_elementos_texto:hover {
  cursor: pointer;
  text-decoration: underline;
}
#pieDePagina_acercaDe_divisa {
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 40px 0px 60px 330px;
}
#pieDePagina_acercaDe_divisa_logo {
  cursor: pointer;
}
#pieDePagina_acercaDe_divisa_selectores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border: solid 1px #848688;
  border-radius: 3px;
  width: 115px;
  height: 35px;
  gap: 5px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje_mundo {
  height: 18px;
  width: 18px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje_p {
  font-size: 1.3rem;
  color: #CCCCCC;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje_flechas {
  padding-left: 10px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje:hover {
  cursor: pointer;
}
#pieDePagina_acercaDe_divisa_selectores_moneda {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border: solid 1px #848688;
  border-radius: 3px;
  width: 210px;
  height: 38px;
}
#pieDePagina_acercaDe_divisa_selectores_moneda_p {
  color: #CCCCCC;
  font-size: 1.3rem;
}
#pieDePagina_acercaDe_divisa_selectores_moneda:hover {
  cursor: pointer;
}
#pieDePagina_acercaDe_divisa_selectores_pais {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border: solid 1px #848688;
  border-radius: 3px;
  width: 155px;
  height: 35px;
  gap: 10px;
}
#pieDePagina_acercaDe_divisa_selectores_pais_p {
  color: #CCCCCC;
  font-size: 1.3rem;
}
#pieDePagina_acercaDe_divisa_selectores_pais:hover {
  cursor: pointer;
}
#pieDePagina_productos {
  background-color: #131A22;
  display: flex;
  flex-direction: column;
}
#pieDePagina_productos_columnas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 40px 190px 80px 190px;
}
#pieDePagina_productos_columnas_bloque {
  padding: 10px 0px 0px 0px;
}
#pieDePagina_productos_columnas_bloque_p1 {
  font-size: 1.4rem;
  color: #DDDDDD;
  text-decoration: none;
}
#pieDePagina_productos_columnas_bloque_p2 {
  font-size: 1.3rem;
  color: #999999;
  text-decoration: none;
}
#pieDePagina_productos_columnas_bloque_p1:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #999999;
}
#pieDePagina_productos_derechos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#pieDePagina_productos_derechos_arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pieDePagina_productos_derechos_arriba_p1 {
  color: white;
  font-size: 1.3rem;
}
#pieDePagina_productos_derechos_arriba_p1:hover {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
#pieDePagina_productos_derechos_arriba_p2 {
  color: white;
  font-size: 1.3rem;
}
#pieDePagina_productos_derechos_arriba_p2:hover {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
#pieDePagina_productos_derechos_arriba_p3 {
  color: white;
  font-size: 1.3rem;
}
#pieDePagina_productos_derechos_arriba_p3:hover {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
#pieDePagina_productos_derechos_abajo {
  padding: 0px 0px 60px 0px;
}
#pieDePagina_productos_derechos_abajo_p {
  color: white;
  font-size: 1.3rem;
}/*# sourceMappingURL=style.css.map */