* {
  box-sizing: border-box;
  top: 0;
  margin: 0px;
  font-size: 10px;
  text-decoration: none;
  font-family: arial;
}

body {
  background-color: #E3E6E6;
}

#nav_superior {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px 0px 10px;
  background-color: #121921;
  color: white;
  height: 60px;
}
#nav_superior_izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#nav_superior_izquierda_logo {
  width: 100px;
  height: 50px;
}
#nav_superior_izquierda_logo:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_superior_izquierda_envios {
  width: 105px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
#nav_superior_izquierda_envios_punteroDeMapa {
  padding-top: 8px;
}
#nav_superior_izquierda_envios_textos_p1 {
  color: #cccccc;
  font-size: 1.13rem;
}
#nav_superior_izquierda_envios_textos_p2 {
  font-weight: bold;
  font-size: 1.5rem;
}
#nav_superior_izquierda_envios:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_superior_centro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6px 0px 0px 0px;
  width: 680px;
  height: 45px;
}
#nav_superior_centro_selectorDeCategorias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-right: solid 1px #cdcdcd;
  outline: none;
  border-radius: 3px 0px 0px 3px;
  background-color: #f3f3f3;
  width: 65px;
  height: 40px;
}
#nav_superior_centro_selectorDeCategorias_identificador {
  color: #757575;
  font-size: 1.25rem;
}
#nav_superior_centro_selectorDeCategorias_flechaDesplegar {
  width: 7px;
  height: 3px;
}
#nav_superior_centro_selectorDeCategorias:hover {
  background-color: #dadada;
  cursor: pointer;
}
#nav_superior_centro_busqueda {
  border: none;
  outline: none;
  width: 570px;
  height: 40px;
  font-size: 1.5rem;
  padding-left: 5px;
}
#nav_superior_centro_lupa {
  background-color: #FEBD69;
  padding: 7px 8px 8px 8px;
  border-radius: 0px 3px 3px 0px;
}
#nav_superior_centro_lupa:hover {
  background-color: #f3a847;
  cursor: pointer;
}
#nav_superior_centro:focus-within {
  border: solid 3px #FF9900;
  border-radius: 5px 5px 5px 5px;
  background-color: #FF9900;
}
#nav_superior_derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#nav_superior_derecha_pais {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 71px;
  height: 50px;
}
#nav_superior_derecha_pais_lenguaje {
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 3px;
}
#nav_superior_derecha_pais_flechaDesplegar {
  width: 8px;
  height: 4px;
  margin-top: 9px;
}
#nav_superior_derecha_pais:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_superior_derecha_cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  padding: 0px 0px 0px 0px;
}
#nav_superior_derecha_cuenta_textos {
  display: flex;
  flex-direction: column;
}
#nav_superior_derecha_cuenta_textos_p1 {
  font-size: 1.2rem;
}
#nav_superior_derecha_cuenta_textos_p2 {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_superior_derecha_cuenta_flechaDesplegar {
  width: 8px;
  height: 4px;
  margin: 9px 0px 0px 3px;
}
#nav_superior_derecha_cuenta:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_superior_derecha_pedidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
}
#nav_superior_derecha_pedidos_p1 {
  font-size: 1.2rem;
}
#nav_superior_derecha_pedidos_p2 {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_superior_derecha_pedidos:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_superior_derecha_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
}
#nav_superior_derecha_carrito_contador {
  color: #F08804;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 25px;
}
#nav_superior_derecha_carrito_identificador {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
}
#nav_superior_derecha_carrito:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 40px;
  background-color: #232f3f;
  color: white;
}
#nav_inferior_izquierda {
  display: flex;
  align-items: center;
  gap: 1px;
}
#nav_inferior_izquierda_todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 39px;
}
#nav_inferior_izquierda_todo_menu {
  width: 25px;
  height: 28px;
}
#nav_inferior_izquierda_todo_identificador {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_inferior_izquierda_todo:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_ofertas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 39px;
}
#nav_inferior_izquierda_ofertas_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_ofertas:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_servicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 131px;
  height: 39px;
}
#nav_inferior_izquierda_servicio_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_servicio:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_listas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 39px;
}
#nav_inferior_izquierda_listas_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_listas:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 39px;
}
#nav_inferior_izquierda_tarjetas_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_tarjetas:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior_izquierda_vender {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 39px;
}
#nav_inferior_izquierda_vender_identificador {
  font-size: 1.4rem;
}
#nav_inferior_izquierda_vender:hover {
  border: solid 1px white;
  cursor: pointer;
}
#nav_inferior_derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 30px;
}
#nav_inferior_derecha_identificador {
  font-size: 1.5rem;
  font-weight: bold;
}
#nav_inferior_derecha:hover {
  border: solid 1px white;
  cursor: pointer;
}

#productos_fondo {
  width: 100%;
  position: relative;
}

#productos_fondo_imagen {
  width: 100%;
}

#productos_fondo::after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, #E3E6E6);
}

#productos_fondo:hover {
  cursor: pointer;
}

#productos_fondo_flechaCarruselIzquierda {
  width: 34px;
  height: 52px;
  position: absolute;
  top: 100px;
  right: 1300px;
}

#productos_fondo_flechaCarruselDerecha {
  width: 34px;
  height: 52px;
  position: absolute;
  left: 1300px;
  top: 100px;
}

#productos_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 340px 0px 0px 0px;
  padding: 0px 20px 20px 20px;
  position: absolute;
  width: 100%;
}
#productos_grid .productos_grid_articulo {
  display: flex;
  padding: 20px;
  width: 312px;
  height: 420px;
  background-color: #ffffff;
}
#productos_grid .productos_grid_articulo_titulo {
  font-size: 1.8rem;
  font-weight: bold;
}
#productos_grid_articulo1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#productos_grid_articulo1_boton {
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  background-color: #FFD814;
  padding: 8px 20px 8px 20px;
}
#productos_grid_articulo1_boton:hover {
  cursor: pointer;
  background-color: #F7CA00;
}
#productos_grid_articulo2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#productos_grid_articulo2_contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#productos_grid_articulo2_contenido_imagenytexto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#productos_grid_articulo2_contenido_imagenytexto_imagen {
  width: 130px;
  height: 102px;
}
#productos_grid_articulo2_contenido_imagenytexto_p {
  font-size: 1.2rem;
}
#productos_grid_articulo2_contenido_imagenytexto:hover {
  cursor: pointer;
}
#productos_grid_articulo2_foot {
  padding-top: 20px;
  color: #007185;
  font-size: 1.3rem;
}
#productos_grid_articulo2_foot:hover {
  color: #C7511F;
  text-decoration: underline;
  cursor: pointer;
}
#productos_grid_articulo3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#productos_grid_articulo3_contenido_imagenytexto_imagen {
  width: 272.25px;
  height: 276.4px;
}
#productos_grid_articulo3_contenido_imagenytexto:hover {
  cursor: pointer;
}

#identificacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1020px 0px 0px 0px;
  width: 100%;
  height: 166px;
  background-color: #fff;
}
#identificacion_contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 126px;
  width: 100%;
  border: solid 1px #DDDDDD;
  border-radius: 5px;
}
#identificacion_contenedor_p1 {
  font-size: 1.3rem;
}
#identificacion_contenedor_boton {
  cursor: pointer;
  border: solid 1px #ECB01C;
  border-radius: 5px;
  outline: none;
  font-size: 1.3rem;
  background: linear-gradient(to bottom, #FFD774 30%, #FFC636 70%);
  padding: 5px 80px 5px 80px;
  font-weight: bold;
}
#identificacion_contenedor_p2 {
  font-size: 1.1rem;
}
#identificacion_contenedor_span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #348E9D;
}
#identificacion_contenedor_span:hover {
  color: #D2734B;
  cursor: pointer;
}

#pieDePagina {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#pieDePagina_inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  width: 100%;
  height: 50px;
  background-color: #37475A;
}
#pieDePagina_inicio_p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
#pieDePagina_inicio:hover {
  background-color: #485769;
  cursor: pointer;
}
#pieDePagina_acercaDe {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #232F3E;
}
#pieDePagina_acercaDe_columnas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 40px 100px 60px 190px;
  border-bottom: solid 1px #3A4553;
  width: 100%;
}
#pieDePagina_acercaDe_columnas_columna {
  display: flex;
  flex-direction: column;
}
#pieDePagina_acercaDe_columnas_columna_titulo {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
#pieDePagina_acercaDe_columnas_columna_elementos {
  padding: 10px 0px 0px 0px;
}
#pieDePagina_acercaDe_columnas_columna_elementos_texto {
  padding-top: 10px;
  color: #BDBFC2;
  font-size: 1.4rem;
}
#pieDePagina_acercaDe_columnas_columna_elementos_texto:hover {
  cursor: pointer;
  text-decoration: underline;
}
#pieDePagina_acercaDe_divisa {
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 40px 0px 60px 330px;
}
#pieDePagina_acercaDe_divisa_logo {
  cursor: pointer;
}
#pieDePagina_acercaDe_divisa_selectores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border: solid 1px #BDBFC2;
  width: 150px;
  height: 40px;
  gap: 10px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje_mundo {
  height: 25px;
  width: 25px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje_p {
  font-size: 1.5rem;
  color: white;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje_flechas {
  padding-left: 10px;
}
#pieDePagina_acercaDe_divisa_selectores_lenguaje:hover {
  cursor: pointer;
}
#pieDePagina_acercaDe_divisa_selectores_moneda {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border: solid 1px #BDBFC2;
  width: 230px;
  height: 40px;
}
#pieDePagina_acercaDe_divisa_selectores_moneda_p {
  color: white;
  font-size: 1.5rem;
}
#pieDePagina_acercaDe_divisa_selectores_moneda:hover {
  cursor: pointer;
}
#pieDePagina_acercaDe_divisa_selectores_pais {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border: solid 1px #BDBFC2;
  width: 160px;
  height: 40px;
}
#pieDePagina_acercaDe_divisa_selectores_pais_p {
  color: white;
  font-size: 1.5rem;
}
#pieDePagina_acercaDe_divisa_selectores_pais:hover {
  cursor: pointer;
}
#pieDePagina_productos {
  background-color: #131A22;
  display: flex;
  flex-direction: column;
}
#pieDePagina_productos_columnas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 40px 190px 80px 190px;
}
#pieDePagina_productos_columnas_bloque {
  padding: 10px 0px 0px 0px;
}
#pieDePagina_productos_columnas_bloque_p1 {
  font-size: 1.4rem;
  color: #DDDDDD;
}
#pieDePagina_productos_columnas_bloque_p1:hover {
  cursor: pointer;
  text-decoration: underline;
}
#pieDePagina_productos_columnas_bloque_p2 {
  font-size: 1.3rem;
  color: #999999;
}
#pieDePagina_productos_columnas_bloque_p2:hover {
  cursor: pointer;
  text-decoration: underline;
}
#pieDePagina_productos_derechos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#pieDePagina_productos_derechos_arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pieDePagina_productos_derechos_arriba_p1 {
  color: white;
  font-size: 1.3rem;
}
#pieDePagina_productos_derechos_arriba_p1:hover {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
#pieDePagina_productos_derechos_arriba_p2 {
  color: white;
  font-size: 1.3rem;
}
#pieDePagina_productos_derechos_arriba_p2:hover {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
#pieDePagina_productos_derechos_arriba_p3 {
  color: white;
  font-size: 1.3rem;
}
#pieDePagina_productos_derechos_arriba_p3:hover {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
#pieDePagina_productos_derechos_abajo {
  padding: 0px 0px 60px 0px;
}
#pieDePagina_productos_derechos_abajo_p {
  color: white;
  font-size: 1.3rem;
}/*# sourceMappingURL=style.css.map */